<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        {{ pdata | json_script:"pdata" }}
        <title>Lyrics cloud</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            Progress: <span id='progress_count'>0 %</span>
        </div>
        <div id='cloud'></div>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
        <script src="{% static 'wordcloud/js/cloud.js' %}"></script>
    </body>
</html>
