<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lyrics cloud</title>
    </head>
    <body>
        {% if logged_in %}
        <div>
            Hello, {{ display_name }}
        </div><div>
            <a href='create_cloud'>Create cloud</a>
        </div>
        {% else %}
        <div>
            <a href='login'>Spotify log in</a>
        </div>
        {% endif %}
    </body>
</html>
